<footer>
            <div class="footer-content">
                <div class="footer-heading">
                    <h2>Convinced To Work With Us?</h2>
                    <p>Company has helped agencies keep their promises to clients since 2005</h4>
                </div>
                <div class="footer-form-content">
                    <div class="footer-form">
                        <div class="grid-container">
                            <div class="grid-item">
                                <input type="text" name="name" placeholder="Full Name">
                            </div>
                            <div class="grid-item">
                                <input type="text" name="email" placeholder="Email Address">    
                            </div>
                            <div class="grid-item">
                                <input type="text" name="number" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="footer-form-line2">
                        <div class="grid-container">
                            <div class="grid-item">
                                <input type="text" name="message" placeholder="Message in brief">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-form-button">
                    <a href="#">Submit</a>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-links-content">
                    <div class="grid-container">
                        <div class="grid-item-1">
                            <div class="copyrights">
                                <p>2017 Company. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="grid-item-2">

                        </div>
                        <div class="grid-item-3">
                            <div class="links">
                                <p>Follow us on: </p>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="" alt="">F
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="" alt="">T
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="" alt="">L
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="" alt="">Y
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>