<header class="head" id="head"> 
        <a href="#" class="header-brand">company <span>logo</span></a>
        <div class="topnav" id="myTopnav">
                <ul>
                    <li>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li><a href="#" class="responsive-links">About</a></li>
                    <li><a href="#" class="responsive-links">Services</a></li>
                    <li><a href="#" class="responsive-links">Solutions</a></li>
                    <li><a href="#" class="responsive-links">Blog</a></li>
                    <li>
                        <a href="#" class="header-img">Get in touch</a>
                    </li>
                </ul>
        </div>  
</header>