<main>
    <section class="index-baner">
        <div class="vertical-center">
            <h2>Integer bibendum sit amet <br />arcu vel egestas</h2>
            <div class="services">
                <div class="service">
                    <img src="">
                    <h4>Service Name</h4>
                </div>
                <div class="service">
                    <img src="">
                    <h4>Service Name</h4>
                </div>
                <div class="service">
                    <img src="">
                    <h4>Service Name</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="column">
                <h2>Mauris id bibendum est. Proin dapibus <br/> sollicitudin iaculis, Maecenas <br/> condimentum maximus laoreet</h2>
                <p>
                    In maximus eusisamad egestas. In maximus eusisamad egestas elementum. <br/>
                    in maximus eusisamad egestas in el be rg th ultrices, <br/>
                    in maximus eusisamad egestas in maximus eusisamad egestas elementum ultrices. Morbi <br/>
                    in maximus eusisamad egestas in maximus eusisamad egestas elementum ultrices, morbi purus <br/>
                    in maximus eusisamad egestas morbi     
                </p>
            </div>
            <div class="column">
                <img src="../images/footer-bg.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="testimonials-content">
            <h3>Testimonials</h3>
            <div class="grid-container">
                <div class="grid-item">
                    <p class="col-testimonial">
                        Posuere erat a ante venenatis dapibus posuere velit aliquet. Duis llis, est non coeammodo luctus, nisi erat porttitor ligula, egeteas laciniato odiomo sem
                    </p>
                    <div class="testimonial-img">
                        <img src="../images/testimonials_bg.png" class="img-responsive" alt="right-angle triangle">
                    </div>
                    <p class="testimonial-author"><span>client name</span> <br/>Position, ORG</p>
                </div>
                <div class="grid-item grid-display">
                    <p class="col-testimonial">
                        Posuere erat a ante venenatis dapibus posuere velit aliquet. Duis llis, est non coeammodo luctus, nisi erat porttitor ligula, egeteas laciniato odiomo sem
                    </p>
                    <div class="testimonial-img">
                        <img src="../images/testimonials_bg.png" class="img-responsive" alt="right-angle triangle">
                    </div>
                    <p class="testimonial-author"><span>client name</span> <br/>Position, ORG</p>
                </div>
                <div class="grid-item grid-display">
                    <p class="col-testimonial">
                        Posuere erat a ante venenatis dapibus posuere velit aliquet. Duis llis, est non coeammodo luctus, nisi erat porttitor ligula, egeteas laciniato odiomo sem
                    </p>
                    <div class="testimonial-img">
                        <img src="../images/testimonials_bg.png" class="img-responsive" alt="right-angle triangle">
                    </div>
                    <p class="testimonial-author"><span>client name</span> <br/>Position, ORG</p>
                </div>
            </div>
        </div>
    </section>
</main>